---
title: Início
description: Somos uma comunidade empenhada em criar um ambiente saudável, instigante e divertido onde todos podem aprender a programar.
image: https://cdn.dribbble.com/users/32512/screenshots/3067513/rokid_wave_sound_fantasy.gif
bottom_image: https://i.ytimg.com/vi/z2rBvX_w4sk/maxresdefault.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">De DEV pra DEV</h1>
			<p class="subtext editable">Somos uma comunidade empenhada em criar um ambiente saudável, instigante e divertido onde todos podem aprender a programar.</p>
			<div class="cta button alt"><a href="#">Conheça</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Veja mais <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Bootcamps</h2>
				<p class="editable">Aprenda de forma prática e intensiva participando de um de nossos Bootcamps. Desperte a vontade de aprender de forma colaborativa.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/bootcamp.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Coding dojo</h2>
				<p class="editable">Participe de desafios lógicos seguindo a metodologia de Coding-dojo. A sala de aula é seu tatame e o mercado de trabalho a sua batalha.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/codedojo.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Hackathons</h2>
				<p class="editable">Mostre suas competencias de trabalho em equipe e solução de problemas para empresas, ganhe reconhecimento e prêmios</p>
			</div>
			<div class="image">
				<img class="editable" src="images/hack.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	
	<section class="sponsers">

<!-- 		<div class="sponsers-title"> 
			<h3>Empresas que acreditam na gente:</h3>
		</div> -->

		<div class="brand-logo">
			<div class="sponsor">
				<img src="images/logo/redentor.png">
			</div>

			<div class="sponsor">
				<img src="images/logo/github.png">
			</div>
		</div>

	</section>

<!-- 	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Fique por dentro dos eventos</h2>
				<p class="subtext editable">Siga nossas redes sociais para saber mais.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section> -->
</div>
