{% for post in include.posts %}
	<li class="blog-post">
		{% if post.status == 'open' %}
			<h2><a href="{{ post.url | relative_url }} ">{{ post.title }}</a></h2>
		{% else %}
			<h2>{{ post.title }}</h2>
		{% endif %}

		{% include post-title.html post=post %}
		<div class="post-content">
			{{ post.excerpt }}

			{% if post.status == 'open' %}
				<div class="button"><a href="{{ post.url | relative_url }} ">Saiba Mais</a></div>
			{% else %}
				<div class="deactivated"><a href="">Em Breve</a></div>
			{% endif %}

		</div>
	</li>
{% endfor %}
