{% for event in site.eventos %}

	<div class="blog-card">
		<div class="meta">
			<div class="photo" style="background-image:url({{event.image_card}});">
			</div>
			<ul class="details">
				<li class="author">
					<img class="square-image" src="{{event.instructor_image}}">
					<a href="{{event.instructor_contact}}" target="_blank">{{event.instructor_name}}</a>
				</li>
				<li class="date">
					<a href="#">{{event.event_date}}</a>
				</li>
			</ul>
		</div>
		<div class="description" style="background: #{{event.card_hexa}};">
			<h1><a href="{{ event.url | relative_url }}">{{ event.title }}</a></h1>
			<h2>{{ event.slogan }}</h2>

			{% if event.status == 'open' %}
				<span class="status" style="background: #50FF4C;"></span>
			{% else %}
				<span class="status" style="background: #FF463A;"></span>
			{% endif %}

			<p>{{ event.excerpt }}</p>
			<p class="read-more">
				<a href="{{ event.url | relative_url }}">Saiba Mais</a>
			</p>
		</div>
	</div>
	
{% endfor %}