{% for post in include.posts %}
	<li class="blog-post">

		<h2><a href="{{ post.url | relative_url }} ">{{ post.title }}</a></h2>

		{% include post-title.html post=post %}
	
		<div class="post-content">
			{{ post.excerpt }}

			<span class="post-date"> 
				{% include read-time.html content=post.content %}
			</span>
			
			<div class="button"><a href="{{ post.url | relative_url }}">Continue lendo</a></div>
		</div>
	</li>
<!-- style="background-image:url({{post.image}}); background-repeat: no-repeat; background-size: cover;"-->
 {% endfor %}