<!-- {% for event in site.eventos %}

	<li class="blog-post">
		{% if event.status == 'open' %}
			<h2><a href="{{ event.url | relative_url }} ">{{ event.title }}</a></h2>
		{% else %}
			<h2>{{ event.title }}</h2>
		{% endif %}

		{% include event-title.html post=post %}

		<div class="post-content">
			{{ event.excerpt }}

			{% if event.status == 'open' %}
				<div class="button"><a href="{{ post.url | relative_url }}">Saiba Mais</a></div>
			{% else %}
				<div class="deactivated"><a href="">Em Breve</a></div>
			{% endif %}

		</div>
	</li>

{% endfor %} -->

{% for event in site.eventos %}

	{% if event.status == 'open' %}
		<div class="event-card">
			<h2><a href="{{ event.url | relative_url }} ">{{ event.title }}</a></h2>
			<p>{{ event.excerpt }}</p>
		</div>
	{% else %}
		<h2>{{ event.title }}</h2>
	{% endif %}

{% endfor %}