<a class="nav-toggle" id="open-nav" href="javascript:void(0);">&#9776;</a>
<nav>
	<a href="/eventos " class="">Eventos</a>
	<a href="/quemsomos " class="">Quem Somos</a>
	<a href="/blog " class="">Blog</a>
	<a href="/bootcampandroid " class="">Bootcamp Android</a>
	<a href="/calendario2019 " class="">Calendario2019</a>
	<a href="/cafecomaspas " class="">Café com aspas</a>
</nav>


<!-- 	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: "highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: "active" %}
		{% endif %}
		<a href="{{ link.link | relative_url }} " class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>
			{{ link.name }}
		</a>
	{% endfor %} -->
