---
title: Eventos
description: Conheça nossos eventos.
---

<section class="events">
	<div class="text-container">
	<h2>Veja o que ja rolou por aqui</h2>
		<article class="event-box">
			{% include list-events.html posts=paginator.posts %}
		</article>

		{% if paginator.total_pages > 1 %}
			<div class="pagination">
				{% if paginator.previous_page %}
					<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Eventos recentes</a>
				{% endif %}

				<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

				{% if paginator.next_page %}
					<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Eventos antigos &rarr;</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</section>
