---
layout: default
---
<video class="hero-video" loop="" autoplay="" muted="" poster="img/coding.png">
            <source type="video/webm" src="images/coding.webm">
            <source type="video/mp4" src="images/coding.mp4">
           	<img src="images/coding.png" alt="" />
    	</video>
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
		</div>
	</div>
</section>

{{ content }}


