---
layout: default
---

<section>
	
	<section class="hero event_post" style="background-image: url({{ page.image | relative_url }} )">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
			</div>
		</div>
	</section>

	<div class="blog-post text-container">

		{% include post-title.html post=page %}

		<div class="post-content">

			{{ content }}

			<div id="disqus_thread"></div>

			<script>
				(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://codered-online.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>
				Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
			</noscript>
		</div>
	</div>
</section>
