---
layout: page
---

<section>
	<div class="blog-post text-container">
		<p class="editor-link"><a href="cloudcannon:collections/{{ page.path }}" class="btn"><strong>&#9998;</strong> Edit Post</a></p>
		{% include post-title.html post=page %}

		<div class="post-content">

			{{ content }}

			<div class="instructors">
				<div class="square-image" style="background-image: url({{page.author_photo}})"></div>
				<div class="instructor_name">Autor :&nbsp;{{page.author_name}} </div>
			</div>

			<div id="disqus_thread"></div>

			<script>
				(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://codered-online.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>
				Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
			</noscript>
		</div>
	</div>
</section>
